<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    .fa-5x{
    font-size:10em;
    }
    </style>
</head>
<body>

<div class="text-center"><h1>What do you want to learn?</h1></div>

<br><br>
<div class="col-sm-3 text-center">
    <div class="service-box mt-5 mx-auto">
        <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
        <a href="/users/videoConcept"><h3 class="mb-3">Concepts</a></h3>

    </div>
</div>
    <div class="col-sm-3 text-center">
        <div class="service-box mt-5 mx-auto">
            <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
            <h3 class="mb-3">Formal Logic systems</h3>

        </div>
    </div>
<div class="col-sm-3 text-center">
    <div class="service-box mt-5 mx-auto">
        <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
        <a href="/users/probabilityVideoMenu"><h3 class="mb-3">Probability</a></h3>
    </div>
</div>
<div class="col-sm-3 text-center">
    <div class="service-box mt-5 mx-auto">
        <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
        <h3 class="mb-3">Recursions</h3>

    </div>
</div>
<div class="col-sm-3 text-center">
    <div class="service-box mt-5 mx-auto">
        <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
        <a href="/users/probabilityVideoMenu"><h3 class="mb-3">Relations</a></h3>

    </div>
</div>
<div class="col-sm-3 text-center">
    <div class="service-box mt-5 mx-auto">
        <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
        <h3 class="mb-3">Algebra</h3>

    </div>
</div>







</body>
