<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

<div class="container-fluid">
<div class="modal-dialog">
    <div class="modal-content">



<video class="center" width="500" height="340" controls>
    <source src="/css/{{videos.[0].file}}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div align="center">
    <h1>{{videos.[0].question}}</h1>
</div>


    </div>
</div>
</body>
