<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>


<div class="container">
    <h2>Topics</h2>
    <p>View worked examples from the module</p>
    <div class="panel-group">
        <div class="panel panel-default">

            <div id="collapse1" >
                <ul class="list-group">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSlide">Part 1 - Introduction  to Concepts</a>
                            </h4>
                        </div>
                        <li id="collapseSlide" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a href="/users/exampleVideo"><li class="list-group-item">Numbers, Sets and Functions</a></li>
                                <a href="/users/exampleVideo"><li class="list-group-item">Complex Numbers</a></li>
                                <a href="/users/cardsConcepts"><li class="list-group-item">Statements and Proofs</a></li>
                            </ul>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSlide1">Part 2 - Formal Logic Systems</a>
                            </h4>
                        </div>
                        <li id="collapseSlide1" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a href="/users/quizConcepts"><li class="list-group-item">Propositional Logic</a></li>
                                <a href="/users/quizConcepts"><li class="list-group-item">Semantics</a></li>
                                <a href="/users/cardsLogic"><li class="list-group-item">Equivalence Formulas</a></li>
                                <a href="/users/cardsLogic"><li class="list-group-item">Normal Form and Boolean Functions</a></li>
                                <a href="/users/cardsLogic"><li class="list-group-item">Equivalence Formulas</a></li>
                                <a href="/users/cardsLogic"><li class="list-group-item">Equivalence Formulas</a></li>
                            </ul>
                    </div>




                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSlide2">Part 3 - Probability</a>
                            </h4>
                        </div>
                        <li id="collapseSlide2" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a href="/users/quizConcepts"><li class="list-group-item">PDF</a></li>
                                <a href="/users/quizConcepts"><li class="list-group-item">Worked Example</a></li>
                            </ul>
                    </div>




                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSlide3">Part 4 - Recursion and Induction</a>
                            </h4>
                        </div>
                        <li id="collapseSlide3" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a href="/users/quizConcepts"><li class="list-group-item">PDF</a></li>
                                <a href="/users/quizConcepts"><li class="list-group-item">Worked Example</a></li>
                            </ul>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSlide4">Part 5 - Relations</a>
                            </h4>
                        </div>
                        <li id="collapseSlide4" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a href="/users/quizConcepts"><li class="list-group-item">PDF</a></li>
                                <a href="/users/quizConcepts"><li class="list-group-item">Worked Example</a></li>
                            </ul>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSlide5">Part 6 - Basic Linear Algebra</a>
                            </h4>
                        </div>
                        <li id="collapseSlide5" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a href="/users/quizConcepts"><li class="list-group-item">PDF</a></li>
                                <a href="/users/quizConcepts"><li class="list-group-item">Worked Example</a></li>
                            </ul>
                    </div>


                </ul>

            </div>
        </div>
    </div>




</div>



</body>
