<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>COMP11120 Revision</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Prepare for your upcoming exams with revision tools proven to boost grades</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>



<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resources to help you learn!</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-check text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Quizzes</h3>
                    <p class="text-muted mb-0">Online quizzes to test your knowledge on each topic</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-slideshare text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Lecture Slides</h3>
                    <p class="text-muted mb-0">Recap all the slides from the semester</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-tv text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Worked Examples</h3>
                    <p class="text-muted mb-0">Watch tutorials on each topic</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Flashcard</h3>
                    <p class="text-muted mb-0">Practice exam questions with flashcards</p>
                </div>
            </div>
        </div>
    </div>
</section>
