<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    .fa-5x{
    font-size:10em;
    }
    </style>
</head>
<body>



<button onclick="history.go(-1);" class="btn btn-dark btn-xl js-scroll-trigger" href="#about">Back</button>
<div class="text-center">
    <h1>What do you want to learn?</h1>
</div>
<br><br>
<div class="col-sm-3 text-center">
    <div class="service-box mt-5 mx-auto">
        <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
        <h3 class="mb-3">Numbers, sets and functions</h3>
        <p class="text-muted mb-0">Discuss topics and tips with other students</p>
    </div>
</div>
    <div class="col-sm-3 text-center">
        <div class="service-box mt-5 mx-auto">
            <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
            <h3 class="mb-3">Complex Numbers</h3>
            <p class="text-muted mb-0">Discuss topics and tips with other students</p>
        </div>
    </div>
<div class="col-sm-3 text-center">
    <div class="service-box mt-5 mx-auto">
        <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
        <a href="/users/exampleVideo"><h3 class="mb-3">Statements and proof</a></h3>
        <p class="text-muted mb-0">Discuss topics and tips with other students</p>
    </div>
</div>
<div class="col-sm-3 text-center">
    <div class="service-box mt-5 mx-auto">
        <i class="fa fa-5x fa-calculator text-dark mb-3 sr-icons"></i>
        <h3 class="mb-3">Discussion Board</h3>
        <p class="text-muted mb-0">Discuss topics and tips with other students</p>
    </div>
</div>








</body>
