<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>

    .badge-success{
    color:#fff;
    background-color:#28a745;
    }

    .badge-warning{
color:#212529;
background-color:#ffc107
}
</style>
</head>
<body onload="myFunction()">


<div class="container">
    <h2>Quiz Yourself</h2>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Topics <i class="glyphicon glyphicon-chevron-down"></i></a>
                </h4>



            </div>
            <div>
                <ul class="list-group">

                    <a href="/users/quizConcepts"><li class="list-group-item" id="item1">Part 1 - Introduction to Concepts</a></li>
                    <a href="/users/quizLogic"><li id="item2" name="item2" class="list-group-item">Part 2 - Formal Logic Systems</a></li>
                    <li class="list-group-item">Part 3 - Probability</li>
                    <li class="list-group-item">Part 4 - Recursion and Induction</li>
                    <li class="list-group-item">Part 5 - Relations</li>
                    <li class="list-group-item">Part 6 - Basic Linear Algebra</li>
                </ul>




            </div>

        </div>
    </div>

</div>
        </div>

<script>


    function myFunction() {



 document.getElementById("badge1").className = "badge badge-warning";



}
</script>

</body>
