<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>


<div class="container">
    <h2>Lecture Slides</h2>
    <p>View lecture slides from the module</p>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Lecture Slides <i class="glyphicon glyphicon-chevron-down"></i></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">Lecture 1 - Introduction</li>
                    <li class="list-group-item">Lecture 2 - Arm</li>
                    <li class="list-group-item">Lecture 3 - Komodo</li>
                </ul>

            </div>
        </div>
    </div>

</div>
<div class="container">
    <h2>Past Papers & Feedback</h2>
    <p>View exam papers from previous years as well as feedback from lecturers</p>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Past Papers <i class="glyphicon glyphicon-chevron-down"></i></a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">Jun 2017</li>
                    <li class="list-group-item">Jun 2016</li>
                    <li class="list-group-item">Jun 2015</li>
                </ul>

            </div>
        </div>
    </div>

</div>
            <div class="container">
                <form id="login-form" method="post" action="/users/slides">
                    <div class="main-login-form">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Lecture</th>
                                <th>Revised?</th>
                                <th>Completed?</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Lecture 1</td>
                                <td>
                                    <input type="checkbox" id="lecture1a" name="lecture1a">
                                    <label for="lecture1a"> </label></td>
                                <td>
                                    <input type="checkbox" id="lecture1b" name="lecture1b">
                                    <label for="lecture1b"> </label>
                                </td>
                            </tr>
                            <tr>
                                <td>Lecture 2</td>
                                <td>
                                    <input type="checkbox" id="lecture2a" name="lecture2a">
                                    <label for="lecture2a"> </label>
                                </td>
                                <td>
                                    <input type="checkbox" id="lecture2b" name="lecture2b">
                                    <label for="lecture2b"> </label>
                                </td>
                            </tr>
                            <tr>
                                <td>Lecture 3</td>
                                <td>
                                    <input type="checkbox" id="lecture3a" name="lecture3a">
                                    <label for="lecture3a"> </label>
                                </td>
                                <td>
                                    <input type="checkbox" id="lecture3b" name="lecture3b">
                                    <label for="lecture3b"> </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="login-form-1">
                            <div class="main-login-form">
                                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>



</body>
