<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<div style="min-height: 100%; background-color:white; width: 100%">


<div class="container">
    <h2>Lecture Slides</h2>
    <p>View lecture slides from the module</p>
    <div class="panel-group">
        <div class="panel panel-default">
            <div>
                <ul class="list-group">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseSlide">Part 1 - Introduction  to Concepts</a>
                                </h4>
                            </div>
                            <li id="collapseSlide" class="panel-collapse collapse">
                                <ul class="list-group">
                                <a href="/css/notes1.pdf"><li class="list-group-item">Notes</a></li>
                                </ul>
                            </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseSlide1">Part 2 - Formal Logic Systems</a>
                                </h4>
                            </div>
                            <li id="collapseSlide1" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <a href="/css/11120slides_1.pdf"><li class="list-group-item">Notes Part 1</a></li>
                                    <a href="/css/11120slides_2.pdf"><li class="list-group-item">Notes Part 2</a></li>
                                    <a href="/css/11120slides_3.pdf"><li class="list-group-item">Notes Part 3</a></li>
                                    <a href="/css/11120slides_4.pdf"><li class="list-group-item">Notes Part 4</a></li>
                                </ul>
                        </div>




                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapseSlide2">Part 3 - Probability</a>
                                    </h4>
                                </div>
                                <li id="collapseSlide2" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <a href="/css/notes2.pdf"><li class="list-group-item">Notes Part 1</a></li>
                                        <a href="/css/notes3.pdf"><li class="list-group-item">Notes Part 2</a></li>
                                    </ul>
                            </div>




                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapseSlide3">Part 4 - Recursion and Induction</a>
                                    </h4>
                                </div>
                                <li id="collapseSlide3" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <a href="/users/quizConcepts"><li class="list-group-item">Notes Part 1</a></li>
                                        <a href="/users/quizConcepts"><li class="list-group-item">Notes Part 2</a></li>
                                    </ul>
                            </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSlide4">Part 5 - Relations</a>
                            </h4>
                        </div>
                        <li id="collapseSlide4" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a href="/users/quizConcepts"><li class="list-group-item">Notes Part 1</a></li>
                                <a href="/users/quizConcepts"><li class="list-group-item">Notes Part 2</a></li>
                            </ul>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSlide5">Part 6 - Basic Linear Algebra</a>
                            </h4>
                        </div>
                        <li id="collapseSlide5" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a href="/users/quizConcepts"><li class="list-group-item">Notes Part 1</a></li>
                                <a href="/users/quizConcepts"><li class="list-group-item">Notes Part 2</a></li>
                            </ul>
                    </div>


                </ul>

            </div>
        </div>
    </div>

</div>
<div class="container">
    <h2>Past Papers & Feedback</h2>
    <p>View exam papers from previous years as well as feedback from lecturers</p>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Past Papers <i class="glyphicon glyphicon-chevron-down"></i></a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">Jan 2017</li>
                    <li class="list-group-item">Jun 2017</li>
                    <li class="list-group-item">Jan 2016</li>
                    <li class="list-group-item">Jun 2016</li>
                    <li class="list-group-item">Jan 2015</li>
                    <li class="list-group-item">Jun 2015</li>
                </ul>

            </div>
        </div>
    </div>

</div>

        </div>



</body>
